<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1057598402261-2gdj37qc67rpv3vmla41ti4bcpruc45n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1057598402261-2gdj37qc67rpv3vmla41ti4bcpruc45n</string>
	<key>API_KEY</key>
	<string>AIzaSyBxuhlSUO_0xvUzYZfhCQ3Krg_v2PnKk_M</string>
	<key>GCM_SENDER_ID</key>
	<string>1057598402261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sambadiei.threadsclone</string>
	<key>PROJECT_ID</key>
	<string>threads-clone-c7bb7</string>
	<key>STORAGE_BUCKET</key>
	<string>threads-clone-c7bb7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1057598402261:ios:db28347449a259bb777c5c</string>
</dict>
</plist>